.vscode/**
.vscode-test/**
.github/**
dist/tests/**
node_modules/**
scripts/**
src/**
out/**
vars/**
**/*.map
**/*.ts
**/*.vsix
**/esbuild.config.*
**/eslint.config.*
**/tsconfig.json
**/.vscode-test.*
.gitignore
.yarnrc
icon.png
resources/allin.gif
resources/banner.png
resources/difference.png
resources/folders.gif
resources/menu*
resources/only.gif
resources/preview.gif