.vscode/**
.vscode-test/**
.github/**
dist/tests/**
node_modules/**
scripts/**
src/**
out/**
vars/**
**/*.map
**/*.mjs
**/*.ts
**/*.vsix
**/esbuild.config.*
**/eslint.config.*
**/tsconfig.json
.gitignore
.yarnrc
icon.png
resources/addFileFromExplorer.png
resources/example.gif
resources/FromThisToThis.png
resources/menu.png
resources/multipleFiles.png