.vscode/**
.vscode-test/**
node_modules/**
scripts/**
src/**
out/**
**/eslint.config.js
**/tsconfig.json
**/*.map
**/*.ts
**/*.vsix
.gitignore
.yarnrc
icon.png
resources/addFileFromExplorer.png
resources/example.gif
resources/FromThisToThis.png
resources/menu.png
resources/multipleFiles.png